<h2>Product Details</h2>

<div *ngIf="product">
  <h3>{{ product.name }}</h3>
  <h4>{{ product.price | currency }}</h4>
  <p *ngIf="product.description"><strong>Description:</strong><br />{{ product.description }}</p>

  <hr />

  <div class="product-detail-actions">
    <button class="detail-action" (click)="addToCart(product)">Buy</button>

    <button class="detail-action" (click)="share(product)">
      Share
    </button>

    <app-product-alerts class="detail-action"
      [product]="product" 
      (notify)="onNotify(product)">
    </app-product-alerts>
  </div>
</div>